button {
  padding: 10px;
}

button:hover {
  background-color: #16a34a;
}

html.dark button:hover {
  background-color: #1e293b;
}
.backgroundImage {
  background-image: url("../asset/Header.png");
  height: 50vh;
  color: #fff;
}
.backgroundImage h2 {
    font-size: 5rem;
}
.backgroundImage p {
  font-size: 1.5rem;
  font-family: serif;
} 